<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styles/screenStyle.css">
        <link rel="shortcut icon" type="image/x-icon" href="logo.svg">
        <script type="text/javascript" src="https://npmcdn.com/parse/dist/parse.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        <title>TUKE Helper</title>
    </head>

    <body>
        <header>
            <img alt="TUKE Logo" src="logo.svg" class="headerElm">
            <h1 class="headerElm">TUKE Helper</h1><sup><sup>Alpha</sup></sup>

            <nav class="headerElm" id="navBar">
                <a href="#subjects" class="navElm"><b>Subjects</b></a>
                <a href="#deadlines" class="navElm"><b>Deadlines</b></a>
                <a href="#exams" class="navElm"><b>Exams</b></a>
            </nav>
        </header>

        <main id="router-view">
        </main>

        <footer>

        </footer>
    </body>

    <script type="text/template" id="template-login">
        <form id="login">
            <h1 class="blockElm">Login</h1>
            <p class="blockElm">E-mail</p>
            <br>
            <input id="emailLogin" type="email" placeholder="Type your e-mail">
            <p class="blockElm">Password</p>
            <br>
            <input id="passwordLogin" type="password" placeholder="Type your password">
            <br>
            <a href="#subjects" class="linkAsButton">LOGIN</a>
            <br>
            <a href="#signup">Sign Up</a>
        </form>
    </script>

    <script type="text/template" id="template-subjects">
        <div class="infoPage">
            <div class="label">
                {{#.}}
                <a href="#subject">{{subjectName}}</a>
                <br>
                {{/.}}
                <button onclick="addSubject()">+ Add a new subject</button>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-signup">
        <form id="signup">
            <h1 class="blockElm">Sign Up</h1>
            <p class="blockElm">E-mail</p>
            <br>
            <input id="emailSignup" type="email" placeholder="Enter your e-mail">
            <p class="blockElm">Password</p>
            <br>
            <input id="passwordSignup" type="password" placeholder="Create a password">
            <br>
            <a class="linkAsButton" onclick="register()">SIGN UP</a>
        </form>
    </script>

    <script src="scripts/main.js"></script>
    <script type="module" src="scripts/index.js"></script>
</html>