html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font: 1.25rem "Arial";
    color: black;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    background: url(../resources/background.svg) no-repeat;
    background-size: cover;
}

header{
    color: black;
    background-color: aliceblue;
    min-width: 100vw;
    height: 10vh;
    box-shadow:  0 0.1rem 1rem black;
    line-height: 10vh;
    display: flex;
    position: relative;
    z-index: 1;
}

img{
    height: 8vh;
    padding-top: 1vh;
}

.headerElm{
    display: inline-block;
    margin: 0;
    padding-left: 1vw;
}

nav#navBar{
    margin-left: auto;
    display: flex;
    height: 10vh;
    line-height: 10vh;
    width: 30vw;
}

a.navElm{
    width: 10vw;
    display: inline-block;
    height: 10vh;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

a.navElm:hover{
    box-shadow: inset 0 0.25rem 0.1rem -0.1rem red;
}

main{
    text-align: center;
    min-width: 100vw;
    min-height: 90vh;
}

form{
    width: 20vw;
    min-width: 20vw;
    min-height: 50vh;
    background-color: white;
    left: 50%;
    margin-left: -10vw;
    margin-top: 5vh;
    border-radius: 0.5rem;
    position: fixed;
}

h1.blockElm{
    padding-top: 4vh;
}

p.blockElm{
    float: left;
    padding-left: 2.5vw;
    padding-top: 1vh;
    margin: 0;
    font-size: 0.7rem;
}

input{
    width: 15vw;
    height: 2vh;
    border: none;
    border-bottom: 0.1rem lightgray solid;
    margin-bottom: 1.5vh;
}

a.linkAsButton{
    width: 10vw;
    height: 3vh;
    line-height: 3vh;
    margin: 1vh 0 0;
    display: inline-block;
    background: linear-gradient(45deg, cyan, deeppink, pink);
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

a{
    color: grey;
    font-size: 0.8rem;
    text-decoration: none;
}

div.infoPage{
    min-width: 80vw;
    max-width: 100vw;
    width: 80vw;
    min-height: 90vh;
    height: 90vh;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div.label{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}